{% extends 'base.html' %}

{% block wrapper %}
    <div id="content-wrapper">
    <div class="container">

        <!-- crumbs -->
        <div class="whole-width crumbs">

        </div>
    </div>

    <!-- title -->
    <div class="title">
        <div class="left-arr"></div>
        <div class="right-arr"></div>
        <div class="container">
            <div class="columns ten alpha title-inner">
                <h1>最新文章</h1>
                <p>好记性不如烂笔头。记录点滴，方便你我。 </p>
            </div>
            <div class="columns six omega">
                <div class="filtr-block">
                    <div class="filtr-text-general">位置：</div>
                    <div class="filtr-categories" id="filter-cats">
                        <div class="filtr-categories-container" id="filter-cats-cont">
                            <a href="http://www.isrbk.com/Index/index"><span>首页</span></a>
                            <a href="http://www.isrbk.com/Index/articlelist" class="active"><span>文章列表</span></a>
                        </div>
                    </div>
                    <a href="#filter-cats" id="filtr-ico">Hide/Show Filtr</a>
                </div>
            </div>
            <div class="clear"><!-- clear floats --></div>
            <div class="clear"></div>
        </div>
    </div>
    <!-- /title -->


{% endblock %}
{% block leftContent %}

    <!-- Left Part -->
    <div class="columns twelve">

        {% for val in data %}
            <div class="post-entry">
                <div class="post-info">
                    <div class="post-image"><a href="view.html"><img
                            src="files/56/50/18/5650180c80599-1448089612_206-155.png" alt=""/> </a><span
                            class="over-bg-portfolio"></span></div>
                </div>
                <div class="post-body">
                    <div class="post-details">
                        <h3><a href="view.html">cakephp查询时recursive属性作用</a></h3>
                        <span class="post-autor">[瑞班克]</span>
                        <span class="post-tags">2015-11-09 16:20:30</span>
                        <span class="post-views">95次</span>
                    </div>
                    <p>在cakephp中我们会定义一些model，然后定义模型与模型之间的关系。
                        在查询时，cakephp会自主的把所有有关系的模型记录也查询出来，如果需要哪些附属数据倒是很好，但是如果不需要的要，就显得累赘、臃肿了</p>
                    <a href="view.html" class="read-more">查看详细</a>
                </div>
            </div>
        {% endfor %}

        <div class="separator9"></div>
        <div class="pager">
            <!-- 分页操作 -->
            <span><a href="#" rel="first">首 页</a></span><span class="prev"><a href="#" rel="prev">上一页</a></span><span
                class="active"><a>1</a></span><span><a href="list.htmlage:2">2</a></span><span><a href="list.htmlage:3">3</a></span><span><a
                href="list.htmlage:4">4</a></span><span class="next"><a href="list.htmlage:2"
                                                                        rel="next">下一页</a></span><span><a
                href="list.htmlage:8" rel="last">末 页</a></span> 共<b> 8 </b>页 总共<b> 39 </b>条数据
        </div>

        <div class="separator29"></div>
    </div>
{% endblock %}
<!-- Left Part -->

{% block rightContent %}
    <!-- Right Part -->
    <div class="columns four blog-aside">

        <div class="" id="dhmenu">
            <form action="/Index/articlesearch" method="post" class="search_block"/>
            <input name="keyword" type="text" value="Search site "
                   onFocus="if(this.value=='Search site ')this.value='';"
                   onBlur="if(this.value=='')this.value='Search site ';"/>
            <input type="submit" value=""/>
            </form>
            <h3 class="sidebar-titles">栏目导航</h3>
            <ul class="list_type7 categories-list">
                <li><a href="list.html">PHP技术</a></li>
                <li><a href="list.html">CSS样式心得</a></li>
                <li><a href="list.html">JS技术</a></li>
                <li><a href="list.html">成功案例</a></li>
                <li><a href="list.html0">PHP环境搭建</a></li>
                <li><a href="list.html1">IM瑞班克</a></li>
                <li><a href="list.html2">ASP.NET心得</a></li>
            </ul>
        </div>
        <div class="dbl-dott-wrapper"></div>
        <div class="separator11"></div>

        <h3 class="sidebar-titles">热门文章</h3>
        <ul class="recent-posts-side">
            <li>
                <a href="" class="fancybox left-image"><img src="img/imgerror.jpg" alt=""/> <span
                        class="over-bg-portfolio"></span></a>
                <a class="right-article-title" href="view.html">医疗机构挂号系统</a>
                <em>2016-01-06 15:47:49</em>
            </li>
            <li>
                <a href="" class="fancybox left-image"><img src="img/imgerror.jpg" alt=""/> <span
                        class="over-bg-portfolio"></span></a>
                <a class="right-article-title" href="view.html">手机号码抽奖源码</a>
                <em>2016-01-06 14:24:53</em>
            </li>
            <li>
                <a href="" class="fancybox left-image"><img src="img/imgerror.jpg" alt=""/> <span
                        class="over-bg-portfolio"></span></a>
                <a class="right-article-title" href="view.html">侧边漂浮广告效果制作</a>
                <em>2015-08-13 00:48:58</em>
            </li>
            <li>
                <a href="" class="fancybox left-image"><img src="img/imgerror.jpg" alt=""/> <span
                        class="over-bg-portfolio"></span></a>
                <a class="right-article-title" href="view.html">CAKEPHP分页功能实现心得</a>
                <em>2015-08-27 22:27:05</em>
            </li>
            <li>
                <a href="" class="fancybox left-image"><img src="files/56/50/18/5650180c80599-1448089612_60-45.png"
                                                            alt=""/> <span class="over-bg-portfolio"></span></a>
                <a class="right-article-title" href="view.html">cakephp查询时recursive属性作用</a>
                <em>2015-11-09 16:20:30</em>
            </li>
        </ul>
        <div class="dbl-dott-wrapper"></div>
        <div class="separator12"></div>


        <h3 class="sidebar-titles">热门标签</h3>
        <div class="tags">
            <a href="http://www.isrbk.com/Index/articlesearch/tag.2008" class="tag-link">2008</a><a
                href="http://www.isrbk.com/Index/articlesearch/tag.2502" class="tag-link">2502</a><a
                href="http://www.isrbk.com/Index/articlesearch/tag.2503" class="tag-link">2503</a><a
                href="http://www.isrbk.com/Index/articlesearch/tag.ajax" class="tag-link">ajax</a><a
                href="http://www.isrbk.com/Index/articlesearch/tag.apache" class="tag-link">apache</a><a
                href="http://www.isrbk.com/Index/articlesearch/tag.app" class="tag-link">app</a><a
                href="http://www.isrbk.com/Index/articlesearch/tag.ASP" class="tag-link">ASP</a><a
                href="http://www.isrbk.com/Index/articlesearch/tag.asp.net" class="tag-link">asp.net</a><a
                href="http://www.isrbk.com/Index/articlesearch/tag.a标签" class="tag-link">a标签</a><a
                href="http://www.isrbk.com/Index/articlesearch/tag.background" class="tag-link">background</a></div>

        <div class="dbl-dott-wrapper"></div>
        <div class="separator12"></div>


        <h3 class="sidebar-titles">友情链接</h3>
        <div class="flickr-feed"><a href="http://www.yybbl.com/" target="_blank"><img
                src="files/56/3d/f0/563df04748943-1446899783_52-52.png" alt=""/></a><a href="http://www.biesb.com"
                                                                                       target="_blank"><img
                src="files/55/bb/52/55bb529344332-1438339731_52-52.png" alt=""/></a><a href="http://www.cakephp.org/"
                                                                                       target="_blank"><img
                src="files/55/97/f7/5597f77757bcf-1436022647_52-52.png" alt=""/></a><a href="http://dreamzk.cn/"
                                                                                       target="_blank"><img
                src="files/55/96/90/559690aca7d8c-1435930796_52-52.png" alt=""/></a></div>

    </div>
{% endblock %}
<!-- /Right Part -->


<div class="clear"></div>
</div>
<!-- end content -->

<script type="text/javascript">
    $(document).ready(function () {
        var l = true;
        var top = $("#dhmenu").offset().top;

        function doFix() {
            var scrolla = $(window).scrollTop();
            var dis = parseInt(top) - parseInt(scrolla);
            if (l && dis <= 90) {
                console.log(dis);
                $("#dhmenu").removeClass().addClass("fixed_top_right");
                l = false;
            }
            if (!l && dis > 90) {
                $("#dhmenu").removeClass("fixed_top_right");
                l = true;
            }
        }

        $(window).scroll(doFix);
    });
</script>
<!-- FOOTER -->
<div id="footer-wrapper">
    <!-- top part [tweeter] -->
    <div id="footer-top">
        <div class="footer-tweet-left"></div>
        <div class="footer-tweet-right"></div>

        <div class="container">

        </div>
    </div>

    <!-- bottom part  -->
    <div id="footer-bottom">
        <div id="footer-bottom-arr"></div>
        <div class="container">
            <!-- copyrights -->
            <div class="column copyrights">
                <p>&copy; Copyright &copy; 2013.Company name All rights reserved.</p>
            </div>
            <!-- menu -->
            <div class="column">
                <ul id="footer-menu">
                    <li><a href="http://www.isrbk.com/Index/index">首页</a></li>
                    <li><a href="http://www.isrbk.com/Index/about">瑞班克</a></li>
                    <li><a href="http://www.isrbk.com/Index/articlelist">文章</a></li>
                    <li><a href="http://www.isrbk.com/Index/moodlist">说说</a></li>
                    <li><a href="http://www.isrbk.com/Index/message">留言</a></li>
                    <li><!-- to top -->
                        <a href="#top" class="backtop" title="Page Up"><!-- Upper --></a>
                    </li>
                </ul>

            </div>

        </div>
    </div>
</div>
<!-- end footer -->        <!-- End Document -->
</div>
</body>
</html>
