{% extends "base.html" %}

{% block wrapper %}
    <div class="container">

        <!-- slider 首页封面 -->
        <div id="slider">
            <img src="http://www.isrbk.com/img/slider_940-300.png" alt="" style="height:300px;width:940px;"/>
            <div class="slider-text">
                <h3><a href="#">态度决定一切</a></h3>
                <p>有什么样的态度就会有什么样的人生,成败的关键不在于拥有什么样的出身,拥有多高的智慧,而在于我们做事的态度.</p>
            </div>
        </div>
    </div>

    <!-- title -->
    <div class="title">
        <div class="left-arr"></div>
        <div class="right-arr"></div>
        <div class="container">
            <div class="columns ten alpha title-inner">
                <h1>热门文章</h1>
                <p>好记性不如烂笔头。记录点滴，方便你我。 </p>
            </div>
            <div class="columns six omega icons">
                <a href="http://www.isrbk.com/Index/index" class="ico-home"><span>Home</span></a><a target="_blank"
                                                                                                    href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=ckNDRkNFS0VGQUEyAwNcER0f"
                                                                                                    class="ico-contact"
                                                                                                    alt="给瑞班克发邮件"
                                                                                                    title="给瑞班克发邮件"><span>Contact</span></a><a
                    target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1141797433&site=qq&menu=yes"
                    class="ico-sitemap" alt="与瑞班克聊天" title="与瑞班克聊天"><span>Sitemap</span></a>
            </div>
            <div class="clear"></div>
        </div>
    </div>

{% endblock %}

{% block leftContent %}

    <div class="columns twelve" id="article_list_box">
        <div class="separator9"></div>
    </div>

    <script type="text/javascript">


        var uyan_config = {
            'title': '自定义网页标题 #微博话题#',
            'url': '自定义网页链接',
            'pic': '自定义图片链接地址，设置为空值则不分享图片',
            'vid': '自定义视频链接地址',
            'du': '自定义指定域名',
            'su': '自定义网页标识'
        };

        get_article(1, 10)

        function show_article_list(articles) {
            articles = JSON.parse(articles);
            var article_list = [];
            $.each(articles, function (i, val) {
                var art_html =
                        '<div class="post-entry">' +
                        '<div class="post-info">' +
                        '<div class="post-image"><a href="view.html"><img src="" alt=""/></a> <span class="over-bg-portfolio"></span></div>' +
                        '</div>' +
                        '<div class="post-body">' +
                        '<div class="post-details">' +
                        '<h3><a href="view.html">' + val['title'] + '</a></h3>' +
                        '<span class="post-autor">[' + val['category'] + ']</span>' +
                        '<span class="post-tags">' + val['created_time'] + '</span>' +
                        '<span class="post-views">' + val['views'] + '次</span>' +
                        '</div>' +
                        '<p> </p>' +
                        '<a href="/xwblog/article/' + val['article_id'] + '" class="read-more">查看详细</a>' +
                        '</div></div>';

                article_list.push(art_html);
            });
            $("#article_list_box").html(article_list.toString());
        }


        function get_article(page_num, page_size) {
            $.ajax({
                url: '/xwblog/articles?page_num' + page_num + "&page_size" + page_size,
                type: 'GET',
                success: function (data) {
                    show_article_list(data);
                },
                error: function (error) {

                }
            })
        }

    </script>
{% endblock %}

{% block rightContent %}
    <div class="columns four blog-aside">
        <form action="/Index/articlesearch" method="post" class="search_block"/>
        <input name="keyword" type="text" value="Search site "
               onFocus="if(this.value=='Search site ')this.value='';"
               onBlur="if(this.value=='')this.value='Search site ';"/>
        <input type="submit" value=""/>
        </form>
        <h3 class="sidebar-titles">栏目导航</h3>
        <ul class="list_type7 categories-list">
            <li><a href="view.html">PHP技术</a></li>
            <li><a href="view.html">CSS样式心得</a></li>
            <li><a href="view.html">JS技术</a></li>
            <li><a href="view.html">成功案例</a></li>
            <li><a href="list.html">PHP环境搭建</a></li>
            <li><a href="view.html">IM瑞班克</a></li>
            <li><a href="view.html">ASP.NET心得</a></li>
        </ul>
        <div class="dbl-dott-wrapper"></div>
        <div class="separator11"></div>

        <h3 class="sidebar-titles">最新文章</h3>
        <ul class="recent-posts-side">
            <li>
                <a href="" class="fancybox left-image"><img
                        src="files/56/5d/96/565d96ab945ec-1448973995_60-45.png" alt=""/> <span
                        class="over-bg-portfolio"></span></a>
                <a class="right-article-title" href="view.html">2015年12月1日记</a>
                <em>2015-12-01 20:46:39</em>
            </li>
            <li>
                <a href="" class="fancybox left-image"><img
                        src="files/56/5d/67/565d67cf6c786-1448961999_60-45.jpg" alt=""/> <span
                        class="over-bg-portfolio"></span></a>
                <a class="right-article-title" href="view.html">图片加载中特效</a>
                <em>2015-12-01 17:27:14</em>
            </li>
            <li>
                <a href="" class="fancybox left-image"><img
                        src="files/56/5d/67/565d67395ac7b-1448961849_60-45.jpg" alt=""/> <span
                        class="over-bg-portfolio"></span></a>
                <a class="right-article-title" href="view.html">手机端返回顶部源码</a>
                <em>2015-12-01 17:25:15</em>
            </li>
        </ul>
        <div class="dbl-dott-wrapper"></div>
        <div class="separator12"></div>


        <h3 class="sidebar-titles">热门标签</h3>
        <div class="tags">
            <a href="http://www.isrbk.com/Index/articlesearch/tag.2008" class="tag-link">2008</a><a
                href="http://www.isrbk.com/Index/articlesearch/tag.2502" class="tag-link">2502</a><a
                href="http://www.isrbk.com/Index/articlesearch/tag.2503" class="tag-link">2503</a><a
                href="http://www.isrbk.com/Index/articlesearch/tag.ajax" class="tag-link">ajax</a><a
                href="http://www.isrbk.com/Index/articlesearch/tag.apache" class="tag-link">apache</a><a
                href="http://www.isrbk.com/Index/articlesearch/tag.app" class="tag-link">app</a><a
                href="http://www.isrbk.com/Index/articlesearch/tag.ASP" class="tag-link">ASP</a><a
                href="http://www.isrbk.com/Index/articlesearch/tag.asp.net" class="tag-link">asp.net</a><a
                href="http://www.isrbk.com/Index/articlesearch/tag.a标签" class="tag-link">a标签</a><a
                href="http://www.isrbk.com/Index/articlesearch/tag.background" class="tag-link">background</a>
        </div>

        <div class="dbl-dott-wrapper"></div>
        <div class="separator12"></div>


        <h3 class="sidebar-titles">友情链接</h3>
        <div class="flickr-feed">
            <a href="http://www.yybbl.com/" target="_blank"><img
                    src="/static/files/56/3d/f0/563df04748943-1446899783_52-52.png" alt=""/></a><a
                href="http://www.biesb.com" target="_blank"><img
                src="/static/files/55/bb/52/55bb529344332-1438339731_52-52.png" alt=""/></a><a
                href="http://www.cakephp.org/" target="_blank"><img
                src="/static/files/55/97/f7/5597f77757bcf-1436022647_52-52.png" alt=""/></a><a
                href="http://dreamzk.cn/"
                target="_blank"><img
                src="/static/files/55/96/90/559690aca7d8c-1435930796_52-52.png" alt=""/></a></div>

    </div>
{% endblock %}

