<div class="block clearfix">
    <h3 class="title">Tags</h3>

    <div class="separator"></div>
    <div class="tags-cloud">
        <div class="tag">
            <a href="#">energy</a>
        </div>
        <div class="tag">
            <a href="#">business</a>
        </div>
        <div class="tag">
            <a href="#">food</a>
        </div>
        <div class="tag">
            <a href="#">fashion</a>
        </div>
        <div class="tag">
            <a href="#">finance</a>
        </div>
        <div class="tag">
            <a href="#">culture</a>
        </div>
        <div class="tag">
            <a href="#">health</a>
        </div>
        <div class="tag">
            <a href="#">sports</a>
        </div>
        <div class="tag">
            <a href="#">life style</a>
        </div>
        <div class="tag">
            <a href="#">books</a>
        </div>
    </div>
</div>